<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>910123612775-gtdc14l5vsrihvu9u2n2h7tb0elurf76.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.910123612775-gtdc14l5vsrihvu9u2n2h7tb0elurf76</string>
	<key>API_KEY</key>
	<string>AIzaSyBJCuGmB8v3XzMzIlaHM9ul7UfX1EjlY0s</string>
	<key>GCM_SENDER_ID</key>
	<string>910123612775</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.giga.smartfun</string>
	<key>PROJECT_ID</key>
	<string>smartfun-3bc95</string>
	<key>STORAGE_BUCKET</key>
	<string>smartfun-3bc95.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:910123612775:ios:cecadcf08465b6a04eb2c2</string>
</dict>
</plist>